@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.logo {
  font-size: 1rem;
  background-color: #79021c;
  padding: 10px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}

nav {
  position: absolute;
  top: 35px;
  left: 35px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.back {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover:not([disabled]) {
  color: #fff;
  background: #222;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9AEABC;
}

.incorrect {
  background-color: red;
}
